@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-slate-800 antialiased;
  }

  * {
    box-sizing: border-box;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    @apply bg-slate-100;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply bg-slate-300 rounded-full;
  }
}
