@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-slate-100 antialiased;
  }

  * {
    box-sizing: border-box;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    @apply bg-slate-800;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply bg-slate-600 rounded-full;
  }
}
